/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .img-simple {
    figcaption {
        text-align: left;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
    }
 }