/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .hero-text{
	margin-bottom: 40px;
 }

 
.hero-text__title {
	color: #0A0082;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 120px;
	margin-bottom: 10px;
}